
x64/Debug/vc142.pdb
x64/Debug/vc142.idb
x64/Debug/stb_image.obj
x64/Debug/shader.obj
x64/Debug/project.obj
x64/Debug/learnopengl_project.vcxproj.FileListAbsolute.txt
x64/Debug/learnopengl_project.pdb
x64/Debug/learnopengl_project.log
x64/Debug/learnopengl_project.ilk
x64/Debug/learnopengl_project.exe.recipe
x64/Debug/learnopengl_project.exe
x64/Debug/learnope.7F77410A.tlog/link.write.1.tlog
x64/Debug/learnope.7F77410A.tlog/link.read.1.tlog
x64/Debug/learnope.7F77410A.tlog/link.command.1.tlog
x64/Debug/learnope.7F77410A.tlog/learnopengl_project.lastbuildstate
x64/Debug/learnope.7F77410A.tlog/CL.write.1.tlog
x64/Debug/learnope.7F77410A.tlog/CL.read.1.tlog
x64/Debug/learnope.7F77410A.tlog/CL.command.1.tlog
x64/Debug/glad.obj
x64/Debug/Aurora.obj
.vs/learnopengl_project/v16/ipch/AutoPCH/afda5f38f97fea12/AURORA.ipch
.vs/learnopengl_project/v16/ipch/AutoPCH/aa4fc9be168c4af9/PROJECT.ipch
.vs/learnopengl_project/v16/ipch/AutoPCH/9ade6de0939bd923/SHADER.ipch
.vs/learnopengl_project/v16/ipch/AutoPCH/23d013f011b55bc3/SHADER.ipch
.vs/learnopengl_project/v16/ipch/AutoPCH/1509adbfab595acf/STB_IMAGE.ipch
.vs/learnopengl_project/v16/Browse.VC.opendb
.vs/learnopengl_project/v16/Browse.VC.db-wal
.vs/learnopengl_project/v16/Browse.VC.db
.vs/learnopengl_project/v16/Browse.VC.db-shm
.vs/learnopengl_project/v16/.suo
.vs/
x64/
learnopengl_project.sln
learnopengl_project.vcxproj
learnopengl_project.vcxproj.filters
learnopengl_project.vcxproj.user
